@font-face {
    font-family: "Gegola Demo";
    src: url("./fonts/GegolaDEMO-Regular.woff") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
}

.about {
    min-height: 100vh;

    background:
        linear-gradient(to bottom,
            #131313,
            #78779f);

    color: white;
    position: relative;
    overflow: hidden;
}

.about-title {
    text-align: center;
    position: relative;
    bottom: 80px;
    font-size: 9rem;
    font-family: "Gegola Demo";
    letter-spacing: 0.3rem;

    color: #ffffff;

    /* glow effect */
    color: #ffffff;

    /* glow effect */
    text-shadow:
    0 0 6px rgba(255, 255, 255, 0.45),
    0 0 14px rgba(255, 255, 255, 0.35),
    0 0 28px rgba(255, 255, 255, 0.2);
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}

.about-text {
    z-index: 3;
    font-family: "Poppins";
}

.about-text h2 {
    font-size: 2rem;
    color: #b9a6ff;
    margin: 0.4rem 0;
}

.about-text p {
    margin: 0.75rem 0;
    opacity: 0.85;
    line-height: 0.5;
}

.about-text.left {
    position: absolute;
    left: 13%;
    bottom: 61%;
    transform: translateY(50%);

    max-width: 420px;
    text-align: right;

    font-family: "Poppins";
    font-size: 23px;
    z-index: 3;
    line-height: 1.2;
}

.right {
    position: absolute;
    right: 17%;
    bottom: 63%;

    transform: translateY(50%);

    max-width: 420px;
    text-align: left;

    font-family: "Poppins";
    font-size: 24px;
    z-index: 3;
    line-height: 1.2;
}

.about-illustration {
    width: 100%;
    max-width: 350px;
    margin: auto;
    display: block;
}

.about-footer {
    background-image: url("./garden.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center, bottom center;
    background-size: cover, cover;
}

.building {
    position: absolute;
    bottom: 135px;
    left: 47.5%;
    transform: translateX(-50%);
    height: 480px;
    width: 750px;
    z-index: 1;
}

.doof {
    position: absolute;
    z-index: 2;
    left: 55.5%;
    height: 55px;
    width: 55px;
    bottom: 62.5%;
    transform: rotate(10deg);
    z-index: 0;
}

.garden {
    position: absolute;
    bottom: 0;
    width: 116%;
    height: 118%;
    pointer-events: none;
    z-index: 2;
}

.footer-img {
    position: absolute;
    z-index: 2;
}

.phineas {
    bottom: 10px;
    left: 160px;
    height: 360px;
    width: 180px;
    z-index: 3;
}

.ferb {
    position: absolute;
    bottom: 2%;
    right: 3%;
    height: 420px;
    width: 220px;
    z-index: 3;
}

.register-btn {
    padding: 0.8rem 2.4rem;
    border-radius: 999px;

    background: #ffffff;
    color: #000000;

    font-size: 0.9rem;
    font-weight: 600;
    font-family: "Kumbh Sans";
    letter-spacing: 0.12em;
    text-transform: uppercase;

    border: none;
    cursor: pointer;

    /* soft glow */
    box-shadow:
        0 0 15px rgba(255, 255, 255, 0.6),
        0 0 30px rgba(255, 255, 255, 0.35);

    transition: all 0.25s ease;
    z-index: 4;
    position: absolute;
    left: 45%;
    bottom: 32%;
    z-index: 5;
}

.perry {
    height: 180px;
    width: 120px;
    left: 39.5%;
    bottom: 16%;
    z-index: 4;
}