/* ===== FOOTER ===== */

.footer {
  width: 100%;
  max-width: 1920px;
  height: 472px;
  background: #000;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  color: white;
  font-family: "Inter", sans-serif;
}

/* Bg */
.footer-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* nav */
.footer-nav {
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  gap: 80px;
  padding: 14px 32px;

  z-index: 2;
}

.footer-nav a {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.6px;
  transition: all 0.3s;
}

.footer-nav a:hover {
  color: white;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
}

/* Center */
.footer-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 2;
}

/* CAD 4.0*/
.footer-wordmark {
  width: 650px; /* BIGGER */
  height: auto;
  margin-bottom: 14px;
}

/* Register*/
.footer-register-btn {
  background: white;
  color: black;
  border: none;
  padding: 6px 24px;
  border-radius: 50px;
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 14px;
  margin-bottom: 36px;

  box-shadow: 0 0 28px rgba(255, 255, 255, 0.55);
  transition: all 0.25s ease;
}

.footer-register-btn:hover {
  transform: scale(1.07);

  box-shadow:
    0 0 35px rgba(255, 255, 255, 0.8),
    0 0 70px rgba(255, 255, 255, 0.35);
}

/* Social media */
.footer-socials {
  display: flex;
  gap: 28px;
  margin-top: 20px;
}

.footer-socials img {
  width: 26px;
  height: 26px;
  cursor: pointer;
  opacity: 0.9;
  transition: all 0.25s ease;
}

.footer-socials img:hover {
  opacity: 1;
  transform: scale(1.12);
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.6));
}

/* Characters */
.footer-doraemon {
  position: absolute;
  top: 140px;
  left: 180px;
  bottom: 40px;
  width: 180px;
  z-index: 2;

  transform: translateY(-40px);
}

.footer-pikachu {
  position: absolute;
  right: 180px;
  bottom: 20px;
  width: 150px;
  z-index: 2;
}
