@font-face {
    font-family: 'Gegola';
    src: url("./fonts/Gegola DEMO.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.timeline {
    position: relative;
    width: 1920px;
    height: 1080px;
    background: #0b0b0b;
    overflow: hidden;
}

.top-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 450px;
    background: linear-gradient(to bottom, #1d2e28 0%, rgba(11,11,11,0) 100%);
    z-index: 1;
}

.title {
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Gegola';
    font-size: 240px;
    font-weight: 400;
    color: #fff;
    letter-spacing: -2px; 
    z-index: 5; 
    line-height: 0.8;
    text-shadow: 
        0 0 15px rgba(120, 255, 120, 0.5),
        0 0 45px rgba(120, 255, 120, 0.3);
}

.cloud { position: absolute; z-index: 10; }
.cloud.left { top: 180px; left: 180px; width: 480px; }
.cloud.right { top: 50px; right: 90px; width: 520px; }

.path {
    position: absolute;
    bottom: 80px;
    left: 100px;
    width: 1720px;
    z-index: 3;
    opacity: 0.85;
}

.ground {
    position: absolute;
    bottom: 0;
    left: 160px;
    width: 1600px;
    z-index: 4;
}

.characters {
    position: absolute;
    bottom: 70px; 
    left: 440px;
    width: 380px;
    z-index: 12;
}

.stars-container { position: absolute; inset: 0; z-index: 2; }
.star {
    position: absolute;
    background: #aa9f9f;
    border-radius: 50%;
    box-shadow: 0 0 4px #aa9f9f;
}

.node {
    position: absolute;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background: rgba(10, 10, 10, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 15px 22px;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.8);
    backdrop-filter: blur(8px);
    width: max-content;
}

.card h3 {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.5px;
}

.card p {
    color: #999;
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 4px;
}

.dot {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 
        0 0 15px #fff, 
        0 0 35px rgba(120, 255, 120, 0.7);
}

.n1 { left: 165px; bottom: 260px; }
.n2 { left: 785px; bottom: 400px; }
.n3 { left: 1225px; bottom: 599px; }
.n4 { left: 1640px; bottom: 645px; }